*{
    margin: 0;
  padding: 0;
 box-sizing: border-box;
 justify-content: center;

}
.main{
    border-radius: 30px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    size: 50px;
 
    
}
.bottonword, button{
    
    display: flex;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding-left: 5px;
    color: green;
    font-size: 20px;
    padding-top: 5px;
    margin: 30px;
 }
 .search key,.search{
    background-color: yellow;

 }
 .search, .li{
    color: rgb(157, 38, 127);
    margin: 20px;
 }