*{
    margin: 0;
  padding: 0;
 box-sizing: border-box;
 justify-content: center;

}
.main{
    border-radius: 30px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
 
    
}
 main .botton{
    align-content: center;
    margin: 20px;
    padding: 10px;
    display: flex;
    border-radius: 3px;
    border: none;
    margin-left: 50px;
    justify-content: center;
    position: relative;
    padding-left: 30px;
 }