*{
    margin: 0;
  padding: 0;
 box-sizing: border-box;
 justify-content: center;

}
.main{
    border-radius: 30px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    size: 50px;
 
    
}
.botton{
    
    display: flex;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
    padding-left: 20px;
    color: green;
 }
 .search{
    background-color: yellow;

 }
 .search li{
    color: red;
 }